#contactMe {
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
}

#resume {
  width: 120px;
  height: 120px;
}

#linkedin {
  width: 140px;
  height: 140px;
}

#github {
  width: 115px;
  height: 115px;
}
